<div class="2xl:mx-auto 2xl:container mx-4 py-16">
    <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
    <div class="w-full relative flex items-center justify-center">
        <img src="https://i.ibb.co/4sYZ8gC/img-2.png" alt="dining" class="w-full h-full absolute z-0 hidden xl:block" />
        <img src="https://i.ibb.co/bbS3J9C/pexels-max-vakhtbovych-6301182-1.png" alt="dining" class="w-full h-full absolute z-0 hidden sm:block xl:hidden" />
        <img src="https://i.ibb.co/JKkzGDs/pexels-max-vakhtbovych-6301182-1.png" alt="dining" class="w-full h-full absolute z-0 sm:hidden" />
        <div class="bg-gray-800 bg-opacity-80 md:my-16 lg:py-16 py-10 w-full md:mx-24 md:px-12 px-4 flex flex-col items-center justify-center relative z-40">
            <h1 class="text-4xl font-semibold leading-9 text-white text-center">Don’t miss out!</h1>
            <p class="text-base leading-normal text-center text-white mt-6">
                Subscribe to our newsletter to stay in the loop. Our newsletter is sent once a week on every Friday, so subscribe to get the latest news and updates.
            </p>
            <div class="border border-white flex items-center lg:w-5/12 w-full mt-12 space-x-4 md:flex-row flex-col">
                <input class="flex-grow text-base font-medium leading-none text-white p-4 focus:outline-none bg-transparent placeholder-white mb-4 md:mb-0" placeholder="Email Address" />
                <button class="border-l border-white focus:outline-none focus:ring-offset-2 focus:ring border border-gray-400 text-gray-900 bg-gray-400 py-2 px-4 text-sm hover:bg-gray-500 w-full md:w-3/5 md:max-w-xs">Subscribe</button>
            </div>
        </div>
    </div>
</div>
